<h2> Place a new Order </h2>
<% @menu.inspect %>
<%= form_tag @order, method: "post" do %>
	<%= hidden_field_tag :restaurant_id,@rest.id %>
	<br>
	<%= label_tag "Enter your name" %>
	<%= text_field_tag :name %>
	<br>
	<%= label_tag "Enter your address" %>
	<%= text_field_tag :address %>
	<br>
	<%= label_tag "Enter your contact number" %>
	<%= number_field_tag :contact %>
	<br>
	<br>
	<%= label_tag "Select from the menu below" %>
	<br>
	<br>
	<% @menu.each do |menu| %>
 		<%= label_tag menu.name %>
		<%= check_box_tag menu.name %>
		<br>
	<%end%>
	<%= submit_tag "Save",class: "form-submit"%>
	<br>
 <%end%>