<div align="middle">
<h2 style="color: white;">YOUR PAST ORDERS</h2>
<% @fin.each do |ord,res| %>
<table>
<tr>
	<td>
		Delivery Address
	</td>
	<td>
		<%= ord.address %>
	</td>
</tr>
<tr>	
	<td>
	Restaurant Name
	</td>
	<td>
	<%= res %>
	</td>
</tr>
<tr>	
	<td>
	Order Details
	</td>
	<td >
	<%= ord.orderDeatils %>
	</td>
</tr>	
<tr>
	<td>
	Net Cost
	</td>
	<td>
	<%= ord.cost %>
	</td>
</tr>
</table>
<% end %>
<%= link_to "<h3><font color='black'>Back</font></h3>".html_safe,root_path %>
</div>