%h1= "Welcome to food.net!"
= form_tag(restaurants_path, :method=>'get') do
	= label_tag :area_sel,"Region"
	%br/
	%br/
	= select_tag :area_sel,options_for_select(@region),{ :prompt => 'Select an Area'}
	%br/
	%br/
	= label_tag :cus_sel,"Cuisines"
	%br/
	%br/
	= select_tag :cus_sel,options_for_select(@cus),{ :prompt => 'Select a Cuisine'}
	%br/
	%br/
	= submit_tag "GO",class: "form_submit"
