<div align="middle">
	<h2>
	<%= @rest.name %>
	</h2>
	<button align=right>
		<%= link_to "Review Us",revadd_path %>
	</button>
		
</div>
<div class="bar">
<ul class="nav nav-tabs nav-justified" >
  <li role="presentation" id="overview" class="clicked"><a>Overview</a></li>
 	<li role="presentation" id="menu_toggler"><a>Menu</a></li>
 	<li role="presentation" id="order_online"><%= link_to "Order Online", restorder_path %></li>
 	<li role="presentation" id="reviews_button"><%= link_to "Reviews",restrev_path %></li>
</ul>
</div>
<div align="middle" id="menu_table" style="display: none;">
	<table style="margin-top:20px">
	<tr>
    	<th style="padding: 10px">Dish</th>
   		<th style="padding: 10px">Price</th>
    	<th style="padding: 10px">Type</th>
  	</tr>
	<% @menu.each do |menu| %>
		<tr>
			<td >
				<%= menu.name %>	
			</td>
			<td >
				<%= menu.price %>	
			</td>
			<td class="" ="category">
				<%= menu.category %>	
			</td>
		</tr>
	<%end%>
	</table>
</div>
<div align="middle" id="overview_box" style="display: block;">
	<table>
		<tr>
			<td>
			Number Of Tables
			</td>
			<td>
			<%= @current_rest.accomodation %>
			</td>
		</tr>
		<tr>	
			<td>
			Average Cost For Two
			</td>
			<td>
			<%= @current_rest.cost %>
			</td>
		</tr>
		<tr>
			<td>
			Timings
			</td>
			<td>
			<%=@current_rest.timings%>
			</td>
		</tr>
		<tr>	
			<td>
			Cuisine
			</td>
			<td>
			<%=@current_rest.cuisine%>
			</td>
		</tr>
		<tr>
			<td>
			Contact Number
			</td>
			<td>
			<%=@current_rest.contactnum%>
			</td>
		</tr>
		<tr>	
			<td>
			Address
			</td>
			<td>
			<%=@current_rest.address%>
			</td>
		</tr>
	</table>
</div>