<div align="middle">
	<h2>
	<%= @rest.name %>
	</h2>
	<button align=right>
		<%= link_to "Review Us",revadd_path %>
	</button>
		
</div>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id="overview"><a>Overview</a></li>
 	<li role="presentation" id="menu_toggler"><a>Menu</a></li>
 	<li role="presentation" id="order_online"><a>Order Online</a></li>
 	<li role="presentation" id="reviews"><a>Reviews</a></li>
</ul>
<div align="middle" id="menu_table" style="display: none;">
	<table style="margin-top:20px">
	<tr>
    	<th style="padding: 10px">Dish</th>
   		<th style="padding: 10px">Price</th>
    	<th style="padding: 10px">Type</th>
  	</tr>
	<% @menu.each do |menu| %>
		<tr>
			<td style="padding: 10px">
				<%= menu.name %>	
			</td>
			<td style="padding: 10px">
				<%= menu.price %>	
			</td>
			<td style="padding: 10px" class="" ="category">
				<%= menu.category %>	
			</td>
		</tr>
	<%end%>
	</table>
</div>
