<h2><%= @rest.name %> </h2>
<br>
<br>
<% @fin.each do |rev,user| %>
	<%=user %>
	<h3>wrote </h3>
	<br>
	<%=rev.comments %>
	<br>
	<h3>rated </h3>
	<%=rev.rating %>
	<br>
	<br>
<%end%>
<%= link_to "<h3><font color='black'>Back</font></h3>".html_safe,:controller => 'restaurants',:action=> 'show',:id=>@rest.id %>