<div align="middle">
<div  style="color: white;">
<h2>Your Reviews</h2>
</div>
<br>
<div style="overflow:scroll; height:500px;width:auto;display:inline-block;padding: 20px;">
<% @fin.each do |rev,res| %>
<table>
	<tr>
		<td>
		Restaurant
		</td>
		<td>
		<%= res %>
		</td>
	</tr>
	<tr>
		<td>
		Ratings
		</td>
		<td>
		<%= rev.rating %>
		</td>
	</tr>
	<tr>
		<td>
		Comments
		</td>
		<td>
		<%= rev.comments %>
		</td>
	</tr>
</table>
<%= link_to "<h4><font color='black'>Delete</font></h4>".html_safe, review_path(rev.id),method: :delete,data: {confirm: "Are you really sure?" } %>
<%= link_to "<h4><font color='black'>Edit</font></h4>".html_safe, edit_review_path(rev.id),method: :delete,data: {confirm: "Are you really sure?" } %>	
<%end%>
</div>
<div align="middle">
<%= link_to "<h3><font color='black'>Back</font></h3>".html_safe,root_path %>
</div>
