<!DOCTYPE html>
<html>
  <head>
    <title>Zomato</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <body>
    <%= render partial:"shared/navbar" %>
    <%= yield %>
  </body>
  <script>
  $("#menu_toggler").on("click", function()
  {
    $("#overview_box").hide();
    $("#reviews").hide();
    $("#menu_table").show();
    $("#overview").removeClass('clicked');
    $("#reviews_button").removeClass('clicked');
    $("#menu_toggler").addClass('clicked');
    $("#order_online").removeClass('clicked');
    var cells=document.getElementsByTagName("td");
    for(var i=0;i<cells.length;i++)
    {
      var temp=cells[i].innerHTML;
      temp=temp.toString();
      temp=temp.trim();
      if(temp=="veg")
      {
        cells[i].setAttribute("style", "color: green;padding: 10px;");
      }
      if(temp=="non-veg")
      {
         cells[i].setAttribute("style", "color: red;padding: 10px;");
      }
    }
  });
  $("#order_online").on("click", function()
  {
    $("#menu_table").hide();
    $("#overview_box").hide();
    $("#reviews").hide();
    $("#menu_toggler").removeClass('clicked');
    $("#overview").removeClass('clicked');
    $("#reviews_button").removeClass('clicked');
    $("#order_online").addClass('clicked');
  });
  $("#overview").on("click", function()
  {
    $("#menu_table").hide();
    $("#reviews").hide();
    $("#overview_box").show();
    $("#menu_toggler").removeClass('clicked');
    $("#overview").addClass('clicked');
    $("#reviews").removeClass('clicked');
    $("#order_online").removeClass('clicked');
  });
  $("#reviews_button").on("click", function()
  {
    $("#overview_box").hide();
    $("#menu_table").hide();
    $("#reviews").show();
    $("#menu_toggler").removeClass('clicked');
    $("#overview").removeClass('clicked');
    $("#reviews_button").addClass('clicked');
    $("#order_online").removeClass('clicked');
  });
  /*
  $("#star1").hover(function(){
      turnon('#star1');
  },
  function(){
    turnoff('#star1');
  });
  $("#star2").hover(function(){
      turnon('#star1');
      turnon('#star2');
  },
  function(){
    turnoff('#star1');
    turnoff('#star2');
  });
  $("#star3").hover(function(){
      turnon('#star1');
      turnon('#star2');
      turnon('#star3');
  },
  function(){
    turnoff('#star1');
    turnoff('#star2');
    turnoff('#star3');
  });
  $("#star4").hover(function(){
      turnon('#star1');
      turnon('#star2');
      turnon('#star3');
      turnon('#star4');
  },
  function(){
    turnoff('#star1');
    turnoff('#star2');
    turnoff('#star3');
    turnoff('#star4');
  });
  $("#star5").hover(function(){
      turnon('#star1');
      turnon('#star2');
      turnon('#star3');
      turnon('#star4');
      turnon('#star5');
  },
  function(){
    turnoff('#star1');
    turnoff('#star2');
    turnoff('#star3');
    turnoff('#star4');
    turnoff('#star5');
  });*/
  $("#star1").click(function(){
    turnon('#star1');
    turnoff('#star2');
    turnoff('#star3');
    turnoff('#star4');
    turnoff('#star5');
    $("#review_rating").val(1);
  });
  $("#star2").click(function(){
    turnon('#star1');
    turnon('#star2');
    turnoff('#star3');
    turnoff('#star4');
    turnoff('#star5');
    $("#review_rating").val(2);
  });
  $("#star3").click(function(){
    turnon('#star1');
    turnon('#star2');
    turnon('#star3');
    turnoff('#star4');
    turnoff('#star5');
    $("#review_rating").val(3);
  });
  $("#star4").click(function(){
      turnon('#star1');
      turnon('#star2');
      turnon('#star3');
      turnon('#star4');
      turnoff('#star5');
      $("#review_rating").val(4);
  });
  $("#star5").click(function(){
    turnon('#star1');
    turnon('#star2');
    turnon('#star3');
    turnon('#star4');
    turnon('#star5');
    $("#review_rating").val(5);
  });
  
  function turnon(temp)
  {
    $(temp).removeClass('star-five');
    $(temp).addClass('star-five2');
  }
  function turnoff(temp)
  {
    $(temp).removeClass('star-five2');
    $(temp).addClass('star-five');
  }
  $("#order_placer").hover(function()
  {
    var dish_quan=$(".dish_oquan");
    var dish_cost=$(".dish_oprice");
    var dish_list=$(".dish_oname");
    var fcost=0;
    var order="";
    for(var i=0;i<10;i++)
    {
      fcost=fcost+(parseInt(dish_cost[i].innerHTML)*parseInt(dish_quan[i].value));
      if(parseInt(dish_quan[i].value))
      {
        var temp=dish_list[i].innerHTML.toString().trim();
        order=order+temp+" - "+parseInt(dish_quan[i].value).toString()+"\n";
      }
    }
    $("#cost").val(fcost);
    $("#orderDeatils").val(order);
  }); 
  </script>
</html>
